/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.glitch {
  z-index: 3;
  color: white;
  position: relative;
}

@-webkit-keyframes glitch-anim-1 {
  0% {
    clip: rect(29px, 450px, 98px, 0);
  }
  3.33333% {
    clip: rect(55px, 450px, 98px, 0);
  }
  6.66667% {
    clip: rect(95px, 450px, 111px, 0);
  }
  10% {
    clip: rect(2px, 450px, 38px, 0);
  }
  13.33333% {
    clip: rect(21px, 450px, 108px, 0);
  }
  16.66667% {
    clip: rect(16px, 450px, 73px, 0);
  }
  20% {
    clip: rect(77px, 450px, 35px, 0);
  }
  23.33333% {
    clip: rect(22px, 450px, 106px, 0);
  }
  26.66667% {
    clip: rect(63px, 450px, 67px, 0);
  }
  30% {
    clip: rect(81px, 450px, 55px, 0);
  }
  33.33333% {
    clip: rect(61px, 450px, 35px, 0);
  }
  36.66667% {
    clip: rect(9px, 450px, 47px, 0);
  }
  40% {
    clip: rect(33px, 450px, 23px, 0);
  }
  43.33333% {
    clip: rect(97px, 450px, 3px, 0);
  }
  46.66667% {
    clip: rect(106px, 450px, 4px, 0);
  }
  50% {
    clip: rect(111px, 450px, 98px, 0);
  }
  53.33333% {
    clip: rect(88px, 450px, 83px, 0);
  }
  56.66667% {
    clip: rect(14px, 450px, 41px, 0);
  }
  60% {
    clip: rect(8px, 450px, 78px, 0);
  }
  63.33333% {
    clip: rect(113px, 450px, 31px, 0);
  }
  66.66667% {
    clip: rect(14px, 450px, 90px, 0);
  }
  70% {
    clip: rect(91px, 450px, 74px, 0);
  }
  73.33333% {
    clip: rect(60px, 450px, 13px, 0);
  }
  76.66667% {
    clip: rect(26px, 450px, 40px, 0);
  }
  80% {
    clip: rect(108px, 450px, 9px, 0);
  }
  83.33333% {
    clip: rect(43px, 450px, 72px, 0);
  }
  86.66667% {
    clip: rect(36px, 450px, 87px, 0);
  }
  90% {
    clip: rect(24px, 450px, 92px, 0);
  }
  93.33333% {
    clip: rect(90px, 450px, 77px, 0);
  }
  96.66667% {
    clip: rect(94px, 450px, 94px, 0);
  }
  100% {
    clip: rect(61px, 450px, 20px, 0);
  }
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(29px, 450px, 98px, 0);
  }
  3.33333% {
    clip: rect(55px, 450px, 98px, 0);
  }
  6.66667% {
    clip: rect(95px, 450px, 111px, 0);
  }
  10% {
    clip: rect(2px, 450px, 38px, 0);
  }
  13.33333% {
    clip: rect(21px, 450px, 108px, 0);
  }
  16.66667% {
    clip: rect(16px, 450px, 73px, 0);
  }
  20% {
    clip: rect(77px, 450px, 35px, 0);
  }
  23.33333% {
    clip: rect(22px, 450px, 106px, 0);
  }
  26.66667% {
    clip: rect(63px, 450px, 67px, 0);
  }
  30% {
    clip: rect(81px, 450px, 55px, 0);
  }
  33.33333% {
    clip: rect(61px, 450px, 35px, 0);
  }
  36.66667% {
    clip: rect(9px, 450px, 47px, 0);
  }
  40% {
    clip: rect(33px, 450px, 23px, 0);
  }
  43.33333% {
    clip: rect(97px, 450px, 3px, 0);
  }
  46.66667% {
    clip: rect(106px, 450px, 4px, 0);
  }
  50% {
    clip: rect(111px, 450px, 98px, 0);
  }
  53.33333% {
    clip: rect(88px, 450px, 83px, 0);
  }
  56.66667% {
    clip: rect(14px, 450px, 41px, 0);
  }
  60% {
    clip: rect(8px, 450px, 78px, 0);
  }
  63.33333% {
    clip: rect(113px, 450px, 31px, 0);
  }
  66.66667% {
    clip: rect(14px, 450px, 90px, 0);
  }
  70% {
    clip: rect(91px, 450px, 74px, 0);
  }
  73.33333% {
    clip: rect(60px, 450px, 13px, 0);
  }
  76.66667% {
    clip: rect(26px, 450px, 40px, 0);
  }
  80% {
    clip: rect(108px, 450px, 9px, 0);
  }
  83.33333% {
    clip: rect(43px, 450px, 72px, 0);
  }
  86.66667% {
    clip: rect(36px, 450px, 87px, 0);
  }
  90% {
    clip: rect(24px, 450px, 92px, 0);
  }
  93.33333% {
    clip: rect(90px, 450px, 77px, 0);
  }
  96.66667% {
    clip: rect(94px, 450px, 94px, 0);
  }
  100% {
    clip: rect(61px, 450px, 20px, 0);
  }
}

@-webkit-keyframes glitch-anim-2 {
  0% {
    clip: rect(85px, 450px, 79px, 0);
  }
  3.33333% {
    clip: rect(3px, 450px, 86px, 0);
  }
  6.66667% {
    clip: rect(20px, 450px, 101px, 0);
  }
  10% {
    clip: rect(8px, 450px, 70px, 0);
  }
  13.33333% {
    clip: rect(50px, 450px, 2px, 0);
  }
  16.66667% {
    clip: rect(11px, 450px, 69px, 0);
  }
  20% {
    clip: rect(75px, 450px, 78px, 0);
  }
  23.33333% {
    clip: rect(8px, 450px, 72px, 0);
  }
  26.66667% {
    clip: rect(96px, 450px, 110px, 0);
  }
  30% {
    clip: rect(108px, 450px, 29px, 0);
  }
  33.33333% {
    clip: rect(80px, 450px, 87px, 0);
  }
  36.66667% {
    clip: rect(1px, 450px, 79px, 0);
  }
  40% {
    clip: rect(71px, 450px, 40px, 0);
  }
  43.33333% {
    clip: rect(78px, 450px, 82px, 0);
  }
  46.66667% {
    clip: rect(25px, 450px, 48px, 0);
  }
  50% {
    clip: rect(26px, 450px, 51px, 0);
  }
  53.33333% {
    clip: rect(66px, 450px, 25px, 0);
  }
  56.66667% {
    clip: rect(48px, 450px, 6px, 0);
  }
  60% {
    clip: rect(6px, 450px, 111px, 0);
  }
  63.33333% {
    clip: rect(10px, 450px, 49px, 0);
  }
  66.66667% {
    clip: rect(70px, 450px, 88px, 0);
  }
  70% {
    clip: rect(76px, 450px, 87px, 0);
  }
  73.33333% {
    clip: rect(79px, 450px, 11px, 0);
  }
  76.66667% {
    clip: rect(112px, 450px, 52px, 0);
  }
  80% {
    clip: rect(48px, 450px, 113px, 0);
  }
  83.33333% {
    clip: rect(5px, 450px, 109px, 0);
  }
  86.66667% {
    clip: rect(84px, 450px, 6px, 0);
  }
  90% {
    clip: rect(81px, 450px, 31px, 0);
  }
  93.33333% {
    clip: rect(61px, 450px, 35px, 0);
  }
  96.66667% {
    clip: rect(13px, 450px, 92px, 0);
  }
  100% {
    clip: rect(2px, 450px, 50px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(85px, 450px, 79px, 0);
  }
  3.33333% {
    clip: rect(3px, 450px, 86px, 0);
  }
  6.66667% {
    clip: rect(20px, 450px, 101px, 0);
  }
  10% {
    clip: rect(8px, 450px, 70px, 0);
  }
  13.33333% {
    clip: rect(50px, 450px, 2px, 0);
  }
  16.66667% {
    clip: rect(11px, 450px, 69px, 0);
  }
  20% {
    clip: rect(75px, 450px, 78px, 0);
  }
  23.33333% {
    clip: rect(8px, 450px, 72px, 0);
  }
  26.66667% {
    clip: rect(96px, 450px, 110px, 0);
  }
  30% {
    clip: rect(108px, 450px, 29px, 0);
  }
  33.33333% {
    clip: rect(80px, 450px, 87px, 0);
  }
  36.66667% {
    clip: rect(1px, 450px, 79px, 0);
  }
  40% {
    clip: rect(71px, 450px, 40px, 0);
  }
  43.33333% {
    clip: rect(78px, 450px, 82px, 0);
  }
  46.66667% {
    clip: rect(25px, 450px, 48px, 0);
  }
  50% {
    clip: rect(26px, 450px, 51px, 0);
  }
  53.33333% {
    clip: rect(66px, 450px, 25px, 0);
  }
  56.66667% {
    clip: rect(48px, 450px, 6px, 0);
  }
  60% {
    clip: rect(6px, 450px, 111px, 0);
  }
  63.33333% {
    clip: rect(10px, 450px, 49px, 0);
  }
  66.66667% {
    clip: rect(70px, 450px, 88px, 0);
  }
  70% {
    clip: rect(76px, 450px, 87px, 0);
  }
  73.33333% {
    clip: rect(79px, 450px, 11px, 0);
  }
  76.66667% {
    clip: rect(112px, 450px, 52px, 0);
  }
  80% {
    clip: rect(48px, 450px, 113px, 0);
  }
  83.33333% {
    clip: rect(5px, 450px, 109px, 0);
  }
  86.66667% {
    clip: rect(84px, 450px, 6px, 0);
  }
  90% {
    clip: rect(81px, 450px, 31px, 0);
  }
  93.33333% {
    clip: rect(61px, 450px, 35px, 0);
  }
  96.66667% {
    clip: rect(13px, 450px, 92px, 0);
  }
  100% {
    clip: rect(2px, 450px, 50px, 0);
  }
}

.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  clip: rect(0, 0, 0, 0);
}

.glitch:after {
  left: 2px;
  text-shadow: -1px 0 green;
  animation: glitch-anim-1 3s linear alternate-reverse;
}

.glitch:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-anim-2 4s linear alternate-reverse;
}
/*# sourceMappingURL=glitch.css.map */