.abril {
  font-family: "Abril Fatface", serif; }

.inter {
  font-family: "Inter", sans-serif; }

.tag {
  background-color: #FFEDBE;
  border-radius: 10px;
  border: 1px solid #956C00;
  color: #956C00;
  font-size: 11px;
  padding: 3px 6px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px; }

body {
  background-color: #FFEDBE;
  padding: 0;
  margin: 0; }

p {
  margin: 10px 0px; }

.nav {
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); }
  .nav .nav__logo {
    font-size: 24px; }

.portfolio {
  max-width: 757px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.portfolio-item {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative; }
  @media (max-width: 600px) {
    .portfolio-item {
      margin-top: 40px;
      margin-bottom: 20px; } }
  .portfolio-item__background {
    background-color: #ffcf51;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
    @media (max-width: 600px) {
      .portfolio-item__background {
        height: 180px; } }
    @media (max-width: 390px) {
      .portfolio-item__background {
        height: 150px; } }
  .portfolio-item__tag {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 1; }
  .portfolio-item__logo, .portfolio-item__logo--image {
    margin-top: -57px;
    z-index: 1; }
    @media (max-width: 600px) {
      .portfolio-item__logo, .portfolio-item__logo--image {
        margin-top: -35px; } }
    .portfolio-item__logo--image {
      max-height: 114px;
      border-radius: 100%; }
      @media (max-width: 600px) {
        .portfolio-item__logo--image {
          max-height: 70px; } }
  .portfolio-item__image {
    width: 100%;
    max-width: 552px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
    border: 3px solid #fff;
    z-index: 1; }
    @media (max-width: 600px) {
      .portfolio-item__image {
        width: calc(100% - 30px);
        margin-top: 15px; } }
  .portfolio-item__tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 552px;
    margin: 20px 0 0 0; }
    @media (max-width: 600px) {
      .portfolio-item__tags {
        margin: 12px 0 0 0; } }
  .portfolio-item__text {
    max-width: 552px;
    padding: 15px; }
  .portfolio-item__link {
    background-color: #FFEDBE;
    border-radius: 20px;
    width: 100%;
    max-width: 552px;
    border: 1px solid #956C00;
    color: #956C00;
    font-size: 16px;
    text-align: center;
    padding: 10px 12px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 25px;
    transition: all 0.2s; }
    @media (max-width: 600px) {
      .portfolio-item__link {
        width: calc(100% - 60px); } }
    .portfolio-item__link svg {
      width: 18px;
      height: 18px;
      margin-bottom: -2px;
      margin-left: 2px; }
    .portfolio-item__link:hover {
      color: #6B4E03;
      border: 1px solid #6B4E03;
      background-color: #FFCF51; }

/*# sourceMappingURL=main.css.map */
