body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.alt-text {
  color: #66666E;
}

#landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100 */
  background: rgb(48,35,174); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(48,35,174,1) 0%, rgba(200,109,215,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(48,35,174,1) 0%,rgba(200,109,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(48,35,174,1) 0%,rgba(200,109,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#c86dd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#bio, #skills {
  max-width: 400px;
}

#profile-image {
  width: 160px;
  height: 160px;
  border: 5px solid #fff;
  border-radius: 200px;
}

#name-title {
  font-family: 'Rock Salt', cursive;
}

#skills {
  margin-top: 4.5em;
}

#skill-icons i {
  margin: 10px;
}

.fa-node, .fa-js, .fa-html5, .fa-css3-alt {
  transition: all 0.3s;
}

.fa-node:hover {
  color: #76d43d;
}

.fa-js:hover {
  color: #ffe433;
}

.fa-html5:hover {
  color: #ff891c;
}

.fa-css3-alt:hover {
  color: #309cff;
}

#down-arrow {
  position: absolute;
  bottom: 20px;
}

.project {
  margin: 50px auto;
  max-width: 750px;
  display: flex;
  align-items: center;
}

.project-image {
  width: 100%;
  border-radius: 8px;
}

.project-icons {
  display: flex;
  flex-direction: column;
}

.project-icons i {
  margin: 10px;
}

footer {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100 */
  background: rgb(48,35,174); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(48,35,174,1) 0%, rgba(200,109,215,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(48,35,174,1) 0%,rgba(200,109,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(48,35,174,1) 0%,rgba(200,109,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#c86dd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media only screen and (max-width: 850px) {
  .project {
    flex-direction: column;
  }

  .project-image {
    border-radius: 0px;
  }

  .project-icons {
    flex-direction: row;
  }
}
