h1,
h2,
a,
p,
button {
    font-family: din-condensed, sans-serif !important;
    color: #fff !important;
}

#logo {
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 32px;
    margin-left: 20px;
}

#nav-menu {
    margin-right: 5px;
}

#nav-menu li a {
    font-size: 28px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: all 0.3s;
}

#nav-menu li a:hover {
    text-decoration: underline;
}

.cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.13);
}
