h1,
h2,
a,
button {
    font-family: din-condensed, sans-serif !important;
    color: #fff !important;
}

h2 {
    font-size: 8em;
}

#logo {
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 32px;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-menu {
    margin-top: 10px;
    margin-right: 5px;
}

.nav-menu li a {
    font-size: 28px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: all 0.3s;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.menuIcon {
    margin-top: 10px;
    margin-right: 20px;
}

.cover {
    width: 100vw;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.13); */
}

.cardLink span {
    color: #666;
}

.containerSpacer {
    padding-top: 150px;
    padding-bottom: 80px;
}

button {
    background: none;
}
